<table>
  <tr class="header-row">
    <td colspan=3>
      <h3>
        Информация о фильме
      </h3>
    </td>
  </tr>
  <% @movies.each do |movie| %>
    <tr>
      <td>
        <%= movie.name %>
      </td>
      <td>
        <%= movie.release_year %>
      </td>
      <td>
        <%= link_to "Описание", movie_path(movie.id) %>
      </td>    
    </tr>
  <% end %>
</table>