<table>
  <tr class="header-row">
    <td colspan=3>
      <h3>
        Главная страница
      </h3>
    </td>
  </tr>
  <tr>
    <td>
      Привет. На этом сайте ты можешь просматривать и добавлять информацию о своих любимых фильмах.
    </td>    
  </tr>
</table>